@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.root {
	-fx-background-color: white;
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-weight: 400;
	-fx-font-size: 15px;
}

.label-title {
	-fx-font-weight: 700;
	-fx-font-size: 25px;
}

.label-warning {
	-fx-text-fill: red;
	-fx-font-size: 12px;
	-fx-font-weight: 300;
}

.button-cancel {
	-fx-background-color: #14171A;
	-fx-background-radius: 15px;
	-fx-text-fill: white;
	-fx-border-color: #14171A;
	-fx-border-radius: 15;
	-fx-font-weight: 700;
}

.button-cancel:hover {
	-fx-border-color: #2E3134;
	-fx-background-color: #2E3134;
	-fx-cursor: hand;
}

.button-confirm {
	-fx-background-color: #1DA1F2;
	-fx-background-radius: 15px;
	-fx-text-fill: white;
	-fx-border-color: #1DA1F2;
	-fx-border-radius: 15;
	-fx-font-weight: 700;
}

.button-confirm:hover {
	-fx-background-color: #37BBFF;
	-fx-cursor: hand;
	-fx-border-color: #37BBFF;
}

.text-field {
    -fx-background-color: #F5F6F8;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color:#D1D3DA;
  	-fx-font-weight: 300;
}

.text-field:focused {
	-fx-border-color: #7C7E85;
}

.text-area{
	-fx-text-fill: red;
	-fx-font-size: 10px;
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-font-weight: 300;
}
